*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-font{
  font-family: "Pin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.resume{
    min-width: 100dvw;
    max-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem;
    position: relative;
    background: linear-gradient(to bottom, black,rgba(29, 27, 27,0.8), grey);
    overflow: hidden;
}

.resume .backText,.frontText{
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 3rem;

}

.resume .backText{
    font-size: 4.5rem;
    opacity: 0.1;
    font-weight: 900;
}

.resume .frontText{
    color: white;
    font-size: 2.1rem;
    font-style: bold;
    top: 4.5rem;
}

.resume .description{
    font-size: 1rem;
    color: white;
    opacity: 0.8;
    margin-top: 5rem;
    letter-spacing: 0.2rem;

}

.resume .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0;
}

.resume .cards .card{
    height: 15rem;
    width: 25rem;
    padding: 1.5rem 1rem;
    background-color: #1A1A1A;
    margin: 2rem 0.5rem;
    border-radius: 1rem;
    color: rgba(255,255,255,0.7);

}

.resume .cards .card .years{
    font-weight: 600;
    color: #D7A72A;
    margin: 0 0rem 0.3rem 0;
}

.resume .cards .card .education{
    margin: 0 0rem 0.3rem 0;
}

.resume .cards .card .institute{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 0.6rem;
    letter-spacing: 0.2rem;
    margin: 0.8rem 0rem 0.8rem 0;
}

@media (max-width: 833px) {

    .resume{
        min-width: 100dvw;
        max-height: 175vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 1rem;
        position: relative;
        background: linear-gradient(to bottom, black,rgba(29, 27, 27,0.8), grey);
        overflow: hidden;
    }
        
    .resume .description{
        font-size: 0.8rem;
        color: white;
        opacity: 0.8;
        margin-top: 5rem;
        letter-spacing: 0.2rem;

    }

    .resume .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;
        padding: 0 1rem;
    }

    .resume .cards .card{
        height: 15rem;
        width: 25rem;
        padding: 1.5rem 1rem;
        background-color: #1A1A1A;
        margin: 2rem 0.5rem;
        border-radius: 1rem;
        color: rgba(255,255,255,0.7);

    }

    .resume .cards .card .years{
        font-weight: 600;
        color: #D7A72A;
        margin: 0 0rem 0.3rem 0;
    }

    .resume .cards .card .education{
        margin: 0 0rem 0.3rem 0;
    }

    .resume .cards .card .institute{
        text-transform: uppercase;
        font-weight: 100;
        font-size: 0.6rem;
        letter-spacing: 0.2rem;
        margin: 0.8rem 0rem 0.8rem 0;
    }

}