body{
    overflow-x: hidden;
}
.nav-font{
  font-family: "Pin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 474;
  font-style: normal;
}

.nav{
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;

}

.left{
    font-size: 1.2rem;
}

.nav .left a{
    color: #EFC254;
    text-decoration: none;
}

.nav .left, .right{
    padding: 0 1.5rem;
    font-weight: 800;
    color: #EFC254;

}

.nav .right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;

}

.nav .right ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}

.nav .right ul li a{
    color: white;
    text-decoration: none;
}

.nav .right ul li a:hover{
    color: #EFC254;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    transition: ease-in-out 0.5s;
}

.nav .right .active{
    color: #d7a72b;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.slideNavHidden{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;    
    animation: fade 0.3s ease-in 0s 1 forwards;
    
}

@keyframes fade {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
    
}

.threedot{
    border: 2px solid #EFC254;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7a72b;
    border-radius: 50%;
}

.slideNav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    z-index: 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.slideNav ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cross{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: #EFC254;
    cursor: pointer;
}