*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    color: white;
}

.body-font{
  font-family: "Pin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.footer{
    background-color: rebeccapurple;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.footer p{
    font-size: 0.7rem;
}